:root {
  --dark-blue: #3f579a;
  --violet: #8841da;
  --white: #f3f1f2;
  --gray: #ccc;
  --dark-gray: #797878;
  --background: #f9fafc;
  --soft-red: #fa5757;
  --soft-black: #2d324d;
  --black: #333333;

  --font-h: "Oswald", sans-serif;
  --font-p: "Lato", sans-serif;
}

/* modules */
@import "./header";
@import "./hero";
@import "./footer";

/* generals utilities */
* {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.u-h {
  font-family: var(--font-h);
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

.u-p {
  font-family: var(--font-p);
  color: var(--white);
}
